@use 'base';
@import 'components/character';
@import 'components/icon';
@import 'components/input';
@import 'components/list';
@import 'components/loading';

body {
	overflow: hidden;
	background: base.$background;
	color: base.$white;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: base.$red;

  img {
  	margin-right: 8px;
  }
}

#main {
  width: 100%;
  overflow: auto;

  .content {
    flex-direction: column;
  }
}

#paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.content {
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  width: calc(100% - 24px);
}

