<!DOCTYPE html>
<html>
  <head>
    <title>MARVEL</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
    <script src="scripts.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="searchController">

    <div id="header">
      <div class="content">
        <img src="./assets/Marvel_Logo.png" height="55" alt="MARVEL" />
        <md-input-container>
          <label>Buscar</label>
          <input ng-model="search" ng-model-options="{ debounce: 500 }" ng-change="execSearch()">
        </md-input-container>
      </div>
    </div>

    <div id="main">
    	<div class="content" ng-if="!selectedCharacter">
    		<md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
    		<div id="list" ng-if="!loading">
					<div ng-repeat="character in characters" class="char-card" ng-click="selectCharacter(character)">
	    			<img ng-src="{{characterImage(character)}}" />
	    			<h3>{{ character.name }}</h2>
	    		</div>
    		</div>
    		<div id="paginator" ng-if="!loading">
    			<div class="text-overlay">
    				{{ pageTotal() }}
    			</div>
    			<img src="./assets/chevron-left.png" class="icon" ng-class="{disabled: page === 0}" ng-click="changePage(-1)" alt="Left" />
    			<img src="./assets/chevron-right.png" class="icon" ng-class="{disabled: page === lastPage()}" ng-click="changePage(1)" alt="Right" />
    		</div>
    	</div>

	    <div class="content" ng-if="selectedCharacter">
	    	<div id="title">
	  			<img src="./assets/chevron-left.png" class="icon" ng-click="selectCharacter(null)" alt="Return" />
	  			<div class="text-overlay">
	    			{{ selectedCharacter.name }}
	    		</div>
	    	</div>
	    	<div id="info">
    			<img ng-src="{{characterImage(selectedCharacter)}}" />
    			<div id="info-text">
  					<div class="info-title">
  						Descrição:
  					</div>
    				<div class="text">
    					{{ selectedCharacter.description || 'Sem descrição' }}
    				</div>
    				<div style="margin-top: 8px;">
    					<div class="info-title">
    						Quadrinhos:
    					</div>
    					<span class="text">
    						{{ characterComics(selectedCharacter) }}
    					</span>
    				</div>
	    		</div>
	    	</div>
	    </div>
    </div>

  </body>
</html>