@use '../base';
@use '../width';

.character-title {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 16px;
}

.character-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: base.$grey;
  border-radius: 5px;
  margin-bottom: 16px;
  overflow: hidden;

  @media all and (min-width: width.$tablet-min) {
    flex-direction: row;
  }

  img {
    width: 100%;

    @media all and (min-width: width.$tablet-min) {
      width: 50%;
    }
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;

    .info-title {
    	font-weight: 600;
    	margin-bottom: 5px;
    }

    .info-text {
    	font-size: 14px;
    }
  }
}